.c-layers {
  transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:before {
    content: '';
    display: block;
    height: 480px;
  }
}

.c-layer {
  background-color: $color-background;
  border: 1px solid $color-grey;
  border-bottom: none;
  border-right: none;
  color: $color-font-black;
  height: 480px;
  margin-top: -480px;
  overflow-y: hidden;
  padding: 0 $base-spacing-unit-large;
  position: relative;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), background-color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 780px;

  @for $index from 1 through 10 {
    &:nth-of-type(#{$index}) {
      top: 57px * ($index - 1);
      left: $base-spacing-unit * ($index - 1);
    }
  }

  &:hover {
    border-color: $color-theme-lighter2;
    color: $color-theme-lighter2;
  }
}

.c-layer--selected {
  background-color: $color-theme-lighter5;
  border-color: $color-theme;

  &:hover {
    border-color: $color-grey;
    color: $color-font-black;
  }
}

.c-layer--expanded {
  height: auto;
}

.c-layer--hide {
  opacity: 0;
  transform: scale(0.8);
}

.c-layer__content {

  opacity: 0;
  padding: $base-spacing-unit-large $base-spacing-unit-large;
  transition: opacity 0.2s, visibility 0s linear 0.25s;
  visibility: hidden;

  @at-root .c-layer--selected > & {
    opacity: 1;
    transition: opacity 0.2s;
    visibility: visible;
  }

}

.c-layer__label {
  cursor: pointer;
  @include font-size(20px, 56px);
  display: block;
}

