.c-layers {

  &:before {
    content: '';
    display: block;
    height: 480px;
  }
}

.c-layer {
  background-color: $color-background;
  border: 2px solid $color-unvisited-border;
  border-bottom: none;
  color: $color-unvisited-title;
  cursor: pointer;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -480px;
  overflow: hidden;
  padding: 0 $base-spacing-unit-large;
  position: relative;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
  background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: left, top;

  @for $index from 1 through 10 {
    &:nth-of-type(#{$index}) {
      top: 60px * ($index - 1);
      width: calc(100% - #{$base-spacing-unit * ($index - 1)});
    }

    @include mq(960px) {
      &:nth-last-of-type(#{$index + 1}):not(.c-layer--selected) {
        transform: scale(1 - 0.1 * $index) translateX(-39px*$index/(1 - 0.1 * $index)) translateY(-24px*$index/(1 - 0.1 * $index));
      }
    }
  }

  &:hover:not(.c-layer--selected) {
    border-color: $color-selected-border;
    color: $color-selected-border;
  }

  @include mq(960px) {
    border-right: none;
    margin-left: 0;
    margin-right: 0;

    @for $index from 1 through 10 {
      &:nth-of-type(#{$index}) {
        left: $base-spacing-unit * ($index - 1);
        width: 780px;
      }
    }
  }
}

.c-layer--selected {
  background-color: $color-selected-bg;
  border-bottom: 2px solid $color-selected-border;
  border-color: $color-selected-border;
  border-right: 2px solid $color-selected-border;
  cursor: auto;
  transition-duration: 0.8s;
}

.c-layer--hide {
  opacity: 0;
  transform: scale(0.8) !important;
}

.c-layer--visited:not(.c-layer--selected):not(.c-layer--hide) {
  border-color: $color-grey-light;
  color: $color-grey-light;

  &:hover:not(.c-layer--selected) {
    border-color: $color-visited;
    color: $color-visited;
  }
}

.c-layer__content {

  opacity: 0;
  padding: $base-spacing-unit-large $base-spacing-unit-large;
  transition: opacity 0.8s, visibility 0s linear 0.85s;
  visibility: hidden;

  @at-root .c-layer--selected > & {
    opacity: 1;
    transition: opacity 0.8s;
    visibility: visible;
  }

}

.c-layer__label {
  cursor: pointer;
  @include font-size(20px, 60px);
  display: block;
  user-select: none;

  @at-root .c-layer--selected > & {
    color: $color-selected-title;
    cursor: default;
    transition: color 0.8s;
    font-weight: 600;
  }
}

